.card_cars
        margin-top: 128px
.year_card
        margin-top: 16px
        font-size: 35px
.body_card
        width: 100%
        margin-top: 64px
        display: flex
.body_wrapper
        display: flex
.title
        font-size: 35px
        margin-bottom: 32px

.wrapper_slider
    max-width: 730px
    margin-right: 40px
    border-radius: 20px !important

.buttons_card
    margin-top: 14px
    display: flex
    justify-content: flex-end
    align-items: center
.about_wrapper
    margin-top: 32px
.about_content_items
    display: flex
    align-items: center
.item_left
    margin-right: 40px
.item_about
    display: flex
    align-items: flex-start
    font-size: 18px
    margin-bottom: 20px
.item_about_dote
    margin-top: 5px
    margin-right: 10px
.item_description
    margin-top: 8px

.price_title
    font-size: 30px
.price
    font-size: 35px
    margin-top: 8px
    margin-bottom: 16px

.price_desc
    margin-bottom: 32px

.img_slider
    max-width: 730px
    border-radius: 20px